* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
}

.content-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.shelter-main-paige-h3 {
  font-family: Georgia, serif;
  font-size: 35px;
  line-height: 45px;
  font-weight: 400;
  letter-spacing: 0.06em;
  color: #545454;
}

.shelter-main-paige-h4 {
  font-family: Georgia, serif;
  font-size: 20px;
  line-height: 23px;
  font-weight: 400;
  letter-spacing: 0.06em;
  color: #545454;
}

.shelter-button {
  border: none;
  border-radius: 100px;
  padding: 15px 45px;
  color: #292929;
  background-color: #f1cdb3;
  font-family: Georgia, serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.06em;
  transition-duration: 0.5s;
}

.shelter-button:hover {
  background-color: #fddcc4;
  cursor: pointer;
}

.shelter-button:active {
  outline: none;
}

/* ===== header ===== */
.header {
  width: 100%;
  position: absolute;
  top: 0;
  /* background: url(../../assets/images/noise_transparent.png),
              radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%),
              #211F20; */
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 0;
}

.header-logo-site-title {
  margin-bottom: 10px;
  font-family: Georgia, serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 110%;
  color: #f1cdb3;
  letter-spacing: 0.06em;
  text-align: center;
}

.header-logo-subtitle {
  font-family: Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.1em;
  color: #ffffff;
  text-align: center;
}

.site-menu-list {
  list-style: none;
  display: flex;
  width: 443px;
  justify-content: space-between;
}

.site-menu-list-item-link {
  display: block;
  font-family: Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 160%;
  color: #cdcdcd;
  text-decoration: none;
}

.site-menu-list-item-link:hover {
  color: #fafafa;
}

.site-menu-list-item-link--current {
  border-bottom: 3px solid #f1cdb3;
}
/* ===== / header ===== */

/* ===== hero ===== */
.main-page-hero {
  width: 100%;
  background: url(../../assets/images/noise_transparent.png),
  radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%),
  #211F20;
}

.main-page-hero-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 180px;
}

.main-page-hero-description {
  max-width: 460px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 80px;
}

.main-page-hero-description-title {
  max-width: 310px;
  margin-bottom: 42px;
  font-family: Georgia, serif;
  font-size: 44px;
  font-weight: 400;
  line-height: 130%;
  color: #ffffff;
}

.main-page-hero-description-text {
  margin-bottom: 40px;
  font-family: Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 160%;
  color: #cdcdcd;
}

.main-page-hero-picture {
  display: block;
  align-self: flex-end;
}
/* ===== / hero ===== */

/* ===== about ===== */
.main-paige-about-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 100px;
}

.main-paige-about-picture {
  display: block;
  margin-right: 120px;
}

.main-paige-about-content {
  max-width: 430px;
}

.main-paige-about-content-title {
  text-align: left;
  max-width: 370px;
}

.main-paige-about-content p {
  margin-top: 25px;
  font-family: Arial, sans-serif;
  font-size: 15px;
  line-height: 24px;
  text-align: left;
  color: #4c4c4c;
}
/* ===== / about ===== */

/* ===== pets ===== */
.main-paige-pets {
  padding-top: 80px;
  padding-bottom: 100px;
  background-color: #f6f6f6;
}

.main-paige-pets-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.main-paige-pets-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  max-width: 400px;
  margin-bottom: 60px;
}

.main-paige-pets-slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 60px;
}

.main-paige-pets-slider-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  border: 2px solid #f1cdb3;
  border-radius: 50%;
  background: none;
  transition-duration: 0.5s;
}

.main-paige-pets-slider-button img {
  display: block;
}

.main-paige-pets-slider-button--right {
  transform: rotate(180deg);
}

.main-paige-pets-slider-button:hover {
  cursor: pointer;
  background-color: #fddcc4;
  border: 2px solid #fddcc4;
}

.main-paige-pets-slider-button:active {
  outline: none;
}

.main-paige-pets-slider-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 990px;
}

.main-paige-pets-slider-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 270px;
  background-color: #fafafa;
  border-radius: 9px;
  transition-duration: 0.5s;
}

.main-paige-pets-slider-card:hover {
  background-color: #ffffff;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.main-paige-pets-slider-card-picture {
  display: block;
  width: 100%;
}

.main-paige-pets-slider-card-name {
  margin-top: 30px;
  margin-bottom: 30px;
}

.main-paige-pets-slider-card-button {
  background-color: transparent;
  margin-bottom: 30px;
  box-shadow: inset 0 0 0 2px #f1cdb3;
}

.main-paige-pets-slider-card-button:hover {
  cursor: pointer;
  box-shadow: inset 0 0 0 2px #fddcc4;
  background-color: #fddcc4;
}

.main-paige-pets-slider-card-button:active {
  outline: none;
}

/* ===== / pets ===== */