* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #000000;
  background-size: cover;
  background-position: center;
  transition: background-image 1s ease-in-out;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  width: 100%;
  z-index: 10;
  position: relative;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /*background-image: url("assets/images/overlay.png");
  background-position: center;
  background-size: cover;*/
  background-color: white;
  opacity: 0.2;
  z-index: 5;
}

#day {
}

#time {
  font-size: 8rem;
}

.greeting-title {
  margin-bottom: 3rem;
}

#name {
  display: inline-block;
}

.focus-title {
  margin-bottom: 0.5rem;
}

.change-bg-img-button,
.change-quote-button {
  font-size: 1rem;
  color: #000000;
  background-color: #ffffff;
  padding: 0.5rem;
  border: 1px solid darkslategrey;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out,
              color 0.5s ease-in-out;
}

.change-bg-img-button:hover,
.change-quote-button:hover {
  color: #ffffff;
  background-color: darkslategrey;
}

.change-bg-img-button:active,
.change-quote-button:active {
  opacity: 0.5;
  outline: none;
}

.quote-wrapper {
  padding-top: 1rem;
  margin-top: 4rem;
  border-top: 2px solid darkslategrey;
  width: 60%;
}

.quote blockquote {
  font-style: italic;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.quote figcaption {
  font-size: 1.2rem;
  font-weight: 700;
}

.change-quote-button {
  margin-top: 1rem;
}


@media (max-width: 700px) {
  #time {
    font-size: 6rem;
  }
}