* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  color: #4e4e4e;
}

.site-wrapper-1600px {
  width: 1600px;
  margin: 0 auto;
}

.content-container {
  width: 1280px;
  margin: 0 auto;
}

.h2-title {
  font-size: 24px;
  width: 95%;
  line-height: 1.2;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  color: #373737;
  margin-top: 0;
  margin-bottom: 23px;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}

.button {
  display: block;
  width: 184px;
  height: 46px;
  line-height: 46px;
  background-color: #00afdb;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.button:hover {
  background-color: #009cc2;
}

/* ===== header ===== */
.header-wrapper {
  width: 1600px;
  height: 744px;
  background: url("assets/bg-image-header.png") no-repeat 50% 50%;
  background-size: cover;
}

.header {
  position: relative;
}

.header-logo {
  display: block;
  width: 44px;
  height: 45px;
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-22px);
}

.header-logo:hover svg path {
  fill: #009cc2;
}

.site-nav-list {
  list-style: none;
  margin: 0;
  padding: 38px 0 0 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 95px;
}

.site-nav-list-item {
  height: 20px;
}

.site-nav-list-item a {
  display: block;
  padding-right: 0;
  padding-left: 0;
  color: #ffffff;
  line-height: 1.4;
  font-weight: 400;
  text-decoration: none;
}

.site-nav-list-item a:hover {
  color: #009cc2;
  border-bottom: 1px solid #009cc2;
}

.site-nav-list-item--current-page a {
  font-weight: 500;
  border-bottom: 1px solid #ffffff;
}

/* Pixel Perfect margins for nav. The distances between menu items are not the same in the figma layout
I have no idea how to fit them perfectly using only flex */
.site-nav-list-item:first-child {
  margin-left: 341px;
}
.site-nav-list-item:nth-child(2) {
  margin-left: 85px;
}
.site-nav-list-item:nth-child(3) {
  margin-left: 247px;
}
.site-nav-list-item:nth-child(4) {
  margin-left: 83px;
}

.webdev-promo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.webdev-promo-title {
  margin: 128px 0 0 0;
  font-size: 64px;
  line-height: 1.4;
  letter-spacing: 4.5px;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
}

.webdev-promo-text {
  width: 40%;
  margin: 14px 0 30px;
  font-size: 18px;
  line-height: 1.4;
  text-align: center;
  color: #ffffff;
}

/* ===== / header ===== */